.Header {
  padding-top: 4%;
  padding-bottom: 20px;
}

.Header a {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Source Sans', sans-serif;
  font-weight: 300;
  font-size: 16pt;
  padding-left: 4%;
}

.Header img {
  width: 70px;
  margin-left: 3%;
}
